* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2f2;
  color: #323232;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 960px;
  margin: 40px, auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgray;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

/*細部內容*/
img.avatar {
  width: 130px;
  border-radius: 50%;
}

.my-name {
  font-size: 48px;
  line-height: 1;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  color: #236fb2;
}

.links {
  display: flex;
  margin: 10px 0 20px 0;
  align-items: center;
  .link-item {
    display: flex;
    padding-right: 30px;
    img {
      margin-right: 6px;
    }
  }
}

/*工作經驗*/
.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border-bottom: none;
  }
  .job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
    .job-company {
      font-weight: bold;
      line-height: 1.2;
    }
  }
}

/*技能*/
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 24px;
  ul {
    margin-left: 20px;
    list-style-type: disc;
  }
}

/*作品集*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px 3px;

  .card {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 180px 180px 70px;
    grid-template-areas:
      'image'
      'text'
      'stats';
    border-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

    /*hover 放大*/
    // transition: 0.5s ease;
    // &:hover {
    //   transform: scale(1.1);
    //   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    // }

    .card-image {
      grid-area: image;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
      &.e-clothing {
        background-image: url('../img/e-clothing.jpg');
      }
      &.love-animal {
        background-image: url('../img/love-animal.jpg');
      }
      &.hawaii-rent {
        background-image: url('../img/hawaii-rent.jpg');
      }
      &.natours {
        background-image: url('../img/Natours.jpg');
      }
      &.antai-resume {
        background-image: url('../img/Antai-Resume.jpg');
      }
    }

    .card-text {
      grid-area: text;
      background-color: rgb(230, 230, 230);
      padding: 15px;
      display: grid;
      grid-template-rows: 1fr 3fr;
      h2 {
        margin-top: 0;
        font-size: 28px;
      }
      p {
        align-self: center;
        color: rgb(80, 80, 80);
        font-size: 15px;
        font-weight: 300;
      }
    }
    .card-stats {
      display: flex;
      justify-content: space-around;
      align-items: center;
      grid-area: stats;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      // background-color: rgb(86, 133, 172);
      background-color: rgb(199, 201, 199);
      .portfolio-link {
        width: 25px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }

  .links,
  .job-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    padding: 5px;
  }
}

@media only screen and (max-width: 570px) {
  .portfolio .card {
    grid-template-rows: 180px auto 70px;
  }
}
